<head>
  {% comment %} Canonical link to help search engines {% endcomment %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />

  {% comment %} Basic meta elements {% endcomment %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  {% comment %} Enable responsiveness on mobile devices {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  {% comment %} Dublin Core metadata for Zotero {% endcomment %}
  <meta name="DC.title" content="{{ page.title }}" />
  <meta name="DC.creator" content="{{ page.author }}" />
  <meta name="DC.contributor" content="{{ page.editor }}" />
  <meta name="DC.date" content="{{ page.date }}" />
  <meta name="DC.rights" content="{{ page.rights }}" />
  <meta name="DC.source" content="{{ site.title }}" />

    {% comment %} Open Graph metadata {% endcomment %}
    {% if page.layout == "default" %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{page.url | absolute_url}}" />

    {% else %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="An Ed edition">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{page.url | absolute_url}}" />
    {% endif %}

  <title>{{ site.title }} - {{ page.title }}</title>

  {% comment %} CSS link {% endcomment %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />

  {% comment %} RSS {% endcomment %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "atom.xml" | absolute_url }}" />
</head>
